$color-white: #ffffff;

// background
$color-bg-page: #faf8fc;
$color-bg-modal: rgba(31 36 51 / 72%);
$color-bg-modal-focus: rgb(107 63 162 / 44%);
$color-bg-modal-success: rgba(116, 255, 164, 80%);
$color-bg-modal-error: rgba(255, 172, 188, 0.8);

// primary colors
$color-primary-base: #6a3ea1;
$color-primary-dark: #2d154b;
$color-primary-semi: #8b55ce;
$color-primary-light: #efe9f7;

// error colors
$color-error-base: #ce3a54;
$color-error-dark: #5a1623;
$color-error-light: #f7dee3;

//neutral colors
$color-neutral-black: #180e25;
$color-neutral-base: #c8c5cb;
$color-neutral-dark: #827d89;
$color-neutral-light: #efeef0;
$color-neutral-hover: rgba(199 196 201 / 70%);

//success colors
$color-success-base: #60d889;
$color-success-dark: #1f7f40;
$color-success-light: #daf6e4;

//toggle button
$color-toggle-active: #bbdfc8;
$color-toggle-active-dark: #479b64;

// shadows
$color-primary-shadow: rgba(9 18 31 / 24%);

// text
$color-text-primary: $color-neutral-black;
$color-text-placeholder: $color-neutral-base;
$color-text-placeholder-error: $color-neutral-dark;
$color-text-error-message: $color-error-base;
$color-text-primary-button: $color-white;

